@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Novela";
  src: url("../fonts/Novela-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-novela;
  }
}

.navbar {
  @apply bg-navbarBg text-navbarItem font-novela font-bold;
}

.navbar a {
  @apply text-navbarItem text-sm;
}

.navbar a:hover {
  @apply text-navbarItemHover;
}

.navbar .current {
  @apply text-navbarItemHover;
}

.album-title {
  @apply font-novela text-xl font-bold mb-2;
}

.album-artist {
  @apply font-helvetica text-sm tracking-wide;
}
